.citas-container {
    margin: 20px;
  }
  
  .titulo-citas {
    margin-bottom: 20px; /* Ajusta este valor según el espacio que desees */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  