<div class="wrapper">
    <input type="checkbox" id="check">
    <label for="check">
      <i id="btn" class="fas fa-bars"></i>
      <i id="cancel" class="">&times;</i>
    </label>
    <div class="sidebar">
      <header>Citas</header>
      <ul>
        <li><a [routerLink]="['/citas/ver-citas']"><i class="fas fa-calendar-check"></i> Ver Citas</a></li>
        <li><a [routerLink]="['/citas/citas']"><i class="fas fa-calendar-day"></i> Citas</a></li>
        <li><a href="#" class="logout"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li> <!-- Botón de cerrar sesión -->

      </ul>
    </div>
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
  